@font-face {
    font-family: GeorgeRoundedLight;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedLight.woff);
}

@font-face{
    font-family: GeorgeRoundedLightItalic;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedLightItalic.woff);
}

@font-face {
    font-family: GeorgeRoundedRegular;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedRegular.woff);
}

@font-face {
    font-family: GeorgeRoundedItalic;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedItalic.woff);
}

@font-face {
    font-family: GeorgeRoundedSemibold;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedSemibold.woff);
}

@font-face {
    font-family: GeorgeRoundedSemiboldItalic;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedSemiboldItalic.woff);
}

@font-face {
    font-family: GeorgeRoundedBold;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedBold.woff);
}

@font-face {
    font-family: GeorgeRoundedBoldItalic;
    src: url(../fonts/george-rounded-sans-serif/WEB/GeorgeRoundedBoldItalic.woff);
}